<div class="p-2">
<div class="card">
 
  <div class="container">
    <br>
  <form  id="SaveItem" #SaveItem="ngForm" (ngSubmit)="SubmitData()">
    <div class="ui-g ui-field ui-md-12">
    <div class="ui-g ui-field ui-md-4" >
      <div class="ui-md-12">
        <img [src]="item.image" class="img-thumbnail" width="250px" height="220" style="float: left;">
     </div>

    <div class="ui-md-12">
    <div class="form-group" style="text-align: left;">   
      <input type="file" name="image" class="btn" id="image" accept="image/*" 
      (change)="Uploadimage($event)" style="width: 100%;"> 
  </div>
</div>
    </div>

    <div class="ui-g ui-field ui-md-8">
      
      <div class="form-group ui-md-6">
        <label>{{'itemData.name' | translate}}</label>     
         <input type="text" class="form-control" #Name="ngModel" name="Name" id="Name"
          [(ngModel)]="item.Name" required
          [ngClass]="{'ng-invalid-required' : Name.touched && Name.invalid}">
          <div *ngIf="Name.invalid">
            <div *ngIf="Name.errors.required && (Name.dirty || Name.touched)" 
            class="text-danger" style="margin-top: 5px;">
              Please fill out this field !</div>
          </div>
    </div>
    <div class="form-group ui-md-6">   
      <label class="control-label">{{'itemData.nameAr' | translate}}</label>
      <input type="text" #NameAr="ngModel" name="NameAr" id="NameAr" 
      class="form-control" [(ngModel)]="item.NameAr" required
      [ngClass]="{'ng-invalid-required' : NameAr.touched && NameAr.invalid}">
      <div *ngIf="NameAr.invalid">
        <div *ngIf="NameAr.errors.required && (NameAr.dirty || NameAr.touched)" 
        class="text-danger" style="margin-top: 5px;">
          Please fill out this field !</div>
      </div>
    </div>
    <div class="form-group ui-md-6">
      <label>{{'itemData.group' | translate}}</label>
      <select class="form-control" id="group" #group="ngModel" name="group" 
      [(ngModel)]="groupId" (ngModelChange)="onChangeGroup($event)">
<option *ngFor="let g of groups" [value]="g.ID">{{g.Name}}</option>
      </select>
    </div>
    <div class="form-group ui-md-6">
      <label>{{'itemData.subGroup' | translate}}</label>
      <select class="form-control"  id="Subgroup" #Subgroup="ngModel" name="Subgroup" 
      [(ngModel)]="item.SubgroupId" required
      [ngClass]="{'ng-invalid-required' : Subgroup.touched && Subgroup.invalid}">
<option *ngFor="let s of subgroups" [value]="s.ID">{{s.Name}}</option>
      </select>
      <div *ngIf="Subgroup.invalid">
        <div *ngIf="Subgroup.errors.required && (Subgroup.dirty || Subgroup.touched)" 
        class="text-danger" style="margin-top: 5px;">
          Please fill out this field !</div>
      </div>
    </div>
  
    
    <div class="form-group ui-md-6">   
      <label class="control-label">{{'itemData.uom' | translate}}</label>
      <input type="text" #UOM="ngModel" name="UOM" id="UOM" 
      class="form-control" [(ngModel)]="item.UOM"> 
    </div>

    <div class="form-group ui-md-6">   
      <label class="control-label">{{'itemData.reorderLevel' | translate}}</label>
      <input type="number" #ReorderLevel="ngModel" name="ReorderLevel" id="ReorderLevel" 
      class="form-control" [(ngModel)]="item.ReorderLevel" required
      [ngClass]="{'ng-invalid-required' : ReorderLevel.touched && ReorderLevel.invalid}"> 
      <div *ngIf="ReorderLevel.invalid">
        <div *ngIf="ReorderLevel.errors.required && (ReorderLevel.dirty || ReorderLevel.touched)" 
        class="text-danger" style="margin-top: 5px;">
          Please fill out this field !</div>
      </div>
    </div>
  
</div>
<div class="form-group ui-md-6">   
  <label class="control-label">{{'itemData.barCode' | translate}}</label>
  <input type="number" #barcode="ngModel" name="barcode" id="barcode" 
  class="form-control" [(ngModel)]="item.BarCode">
</div>
<div class="form-group ui-md-6">   
  <label class="control-label">{{'itemData.size' | translate}}</label>
  <input type="text" #size="ngModel" name="size" id="size" 
  class="form-control" [(ngModel)]="item.size">
</div>
<div class="form-group ui-md-6">   
  <label class="control-label">{{'itemData.expiryDateReminder' | translate}}</label>
  <input type="number" #ExpiryReminder="ngModel" name="ExpiryReminder" id="ExpiryReminder" 
  class="form-control" [(ngModel)]="item.ExpiryDateReminder" required
  [ngClass]="{'ng-invalid-required' : ExpiryReminder.touched && ExpiryReminder.invalid}">
  <div *ngIf="ExpiryReminder.invalid">
    <div *ngIf="ExpiryReminder.errors.required && (ExpiryReminder.dirty || ExpiryReminder.touched)" 
    class="text-danger" style="margin-top: 5px;">
      Please fill out this field !</div>
  </div>
</div>
<div class="form-group ui-md-6">   
  <label class="control-label">{{'itemData.type' | translate}}</label>
  <input type="text" #Type="ngModel" name="Type" id="Type" 
  class="form-control" [(ngModel)]="item.Type">
</div>
<div class="form-group ui-md-6">
  <label>{{'itemData.description' | translate}}</label>
  <textarea type="text" rows="2" #description="ngModel" name="description" id="description" 
  class="form-control" [(ngModel)]="item.Description" required
  [ngClass]="{'ng-invalid-required' : description.touched && description.invalid}"></textarea>
  <div *ngIf="description.invalid">
    <div *ngIf="description.errors.required && (description.dirty || description.touched)" 
    class="text-danger" style="margin-top: 5px;">
      Please fill out this field !</div>
  </div>
</div>   
<div class="form-group ui-md-6">
  <label>{{'itemData.descriptionAr' | translate}}</label>
  <textarea type="text" rows="2" #descriptionAr="ngModel" name="descriptionAr" id="descriptionAr" 
  class="form-control" [(ngModel)]="item.DescriptionAr" required
  [ngClass]="{'ng-invalid-required' : descriptionAr.touched && descriptionAr.invalid}"></textarea>
  <div *ngIf="descriptionAr.invalid">
    <div *ngIf="descriptionAr.errors.required && (descriptionAr.dirty || descriptionAr.touched)" 
    class="text-danger" style="margin-top: 5px;">
      Please fill out this field !</div>
  </div>
</div>   

<div class="form-group ui-md-1">
          <label>{{'itemData.active' | translate}}</label>   
           <input type="checkbox" class="form-control" #IsActive="ngModel"  name="IsActive" id="IsActive"
            [(ngModel)]="item.IsActive">
</div>
  <br>
  
  <div class="form-group ui-md-12">
    <button type="submit" class="btn btn-block" [disabled]="currentUserStore !== '0' || SaveItem.invalid">
      {{'buttons.save' | translate}}</button>
  </div>
</div>
   
  </form> <!-- End Form  -->
  </div><!-- End Container  -->
</div>
</div>

